<div class="<%= dom_id tag %>_subscribe_button" >
  <% if current_user.blank? %>
    <%= link_to t('subscribe'), view_modals_path(type: :login), data: { turbo_method: :post }, class: "block w-full cursor-pointer bg-primary hover:scale-105 rounded text-white text-center py-1 px-4" %>
  <% elsif current_user.subscribe_tag? tag %>
    <div class="w-full bg-transparent text-center py-1">
      <%= button_to t('unsubscribe'), 
        subscribe_tag_path(tag.id), 
        method: :delete,
        form: {
          data: { 
            controller: "confirm",
            confirm_target: "form",
            confirm_identifier_value: SecureRandom.uuid,
            confirm_content_value: t("confirm_to_unsubscribe") 
          }
        },
        data: { 
          action: "confirm#invoke",
        }, 
        class: "bg-transparent cursor-pointer opacity-70" %>
    </div>
  <% else %>
    <%= button_to t('subscribe'), subscribe_tags_path(id: tag.id), class: "block w-full cursor-pointer bg-primary hover:scale-105 rounded text-white text-center py-1 px-4" %>
  <% end %>
</div>
