<div id="subscribe_tag_<%= dom_id tag %>" class="relative flex items-center px-4 py-2 border-b dark:border-zinc-800 justify-between">
  <%= link_to articles_path(tag: tag.name), class: "flex items-center space-x-2", data: { turbo_frame: "_top" } do %>
    <span class=""><%= tag.name %></span>
  <% end %>
  <div class="">
    <%= render "subscribe_tags/subscribe_button", tag: tag %>
  </div>
</div>
