<div id="subscribe_tag_<%= dom_id tag %>" class="relative flex items-center py-4 justify-between border-b border-base-content/10">
  <%= link_to articles_path(tag: tag.name), 
    class: "flex items-center space-x-2 truncate", 
    data: { 
      turbo_frame: "_top" 
    } do %>
    <span style="word-break:keep-all" class="tag-chip truncate h-8 my-2 mr-4 px-2 py-1 truncate">
      <%= tag.name %>
    </span>
  <% end %>
  <div class="">
    <%= render "subscribe_tags/subscribe_button", tag: tag %>
  </div>
</div>
