<%= turbo_frame_tag "my_transfers" do %>
  <div data-controller="infinite-scroll">
    <% if @transfers.blank? %>
      <%= render EmptyComponent.new text: t('no_record') %>
    <% else %>
      <div class="overflow-x-auto">
        <div class="table table-auto w-full">
          <div id="my_transfers_list" class="table-row-group">
            <%= render partial: "dashboard/transfers/transfer", collection: @transfers, as: :transfer %>
          </div>
        </div>
      </div>

      <div data-infinite-scroll-target='scrollArea'></div>
      <%= render "shared/pagination", pagy: @pagy, id: "my_transfers_pagination" %>
    <% end %>
  </div>
<% end %>
