<div class="mx-auto mb-8 w-full sm:w-96 flex bg-blue-100 dark:bg-blue-200 p-4 rounded-lg">
  <svg class="flex-shrink-0 w-6 h-6 text-blue-700 dark:text-blue-800" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path></svg>

  <div class="ml-3 font-medium text-blue-700 dark:text-blue-800">
    <div class="mb-2">
      Add and switch your network to <b>Mixin Virtual Machine</b> in your wallet client before connecting.
    </div>
    <div class="">
      <div> Name: <b>Mixin Virtual Machine</b></div>
      <div> RPC URL: <b>https://geth.mvm.dev</b></div>
      <div> Chain ID: <b>73927</b></div>
    </div>
  </div>
</div>
<div data-controller="wallet-connect" class="flex justify-center mb-2">
  <a data-metamask-target="loginButton" 
    data-action="wallet-connect#login" 
    href="https://walletconnect.com"
    target="_blank"
    class="relative px-2 py-3 bg-stone-100 hover:bg-stone-200 dark:bg-stone-800 dark:hover:bg-stone-700 rounded-lg flex items-center justify-center text-lg w-96 hover:scale-105">
    <div class="w-8 h-8 flex absolute left-4">
      <%= image_tag 'walletconnect.svg', class: 'w-full h-auto' %>
    </div>
    <span>Wallet Connect</span>
  </a>
</div>
