<%= turbo_frame_tag 'modal' do %>
  <%= render_modal title: t('block_user') do %>
    <div class="space-y-6">
      <p class="text-sm leading-relaxed text-base-content/70">
        <%= t('confirm_to_block') %>
      </p>
      <%= button_to t('block_user'),
        block_users_path(uid: @user.uid),
        class: "btn btn-error btn-lg w-full rounded-full" %>
    </div>
  <% end %>
<% end %>
