<%= turbo_frame_tag 'modal' do %>
  <%= render ModalComponent.new title: t('block_user') do %>
    <div class="w-96 max-w-full mx-auto">
      <div class="mb-6">
        <%= t('confirm_to_block') %>
      </div>
      <%= button_to t('block'), 
        block_users_path(uid: @user.uid), 
        class: "block w-full rounded-lg text-white bg-red-500 py-2 text-lg"
      %>
    </div>
  <% end %>
<% end %>
