<div class="border-b p-4 sm:px-6">
  <div class="relative">
    <%= link_to edit_article_path(article.uuid) do %>
      <span aria-hidden="true" class="absolute inset-0"></span>
    <% end %>
    <div class="text-sm text-gray-500 text-right">
      <%= article.updated_at.strftime("%Y-%m-%d %H:%M") %>
    </div>
    <div class="text-xl font-bold">
      <%= article.title.presence || t('articles.title_placeholder') %>
    </div>
  </div>
</div>
