<div class="mb-4 flex items-center justify-between">
  <span class="text-lg font-bold">
    <%= t('activerecord.attributes.user.email') %>
  </span>

  <%= link_to current_user.email_verified? ? t('edit') : t('reverify'),
    edit_dashboard_profile_setting_path, 
    data: {
      turbo_frame: 'profile_email_form'
    },
    class: "btn btn-primary rounded-full" %>
</div>

<div class="mb-2 py-2 border-b border-base-300">
  <span class="<%= current_user.email_verified? ? 'opacity-100' : 'opacity-50' %>">
    <%= current_user.email.presence || '-' %>
  </span>

  <% if current_user.email_verified? %>
    <span class="i-[tabler--circle-check] inline size-6 text-success"></span>
  <% else %>
    <span class="i-[tabler--alert-circle] inline size-6 text-error"></span>
  <% end %>
</div>

<% if current_user.email_verifying? %>
  <div class="">
    <span class="text-sm text-primary p-1">
      A verify mail has been sent to your email.
    </span>
  </div>
<% end %>
