<div class="m-8">
  <% if @user.present? %>
    <div class="mb-2 flex justify-center">
      <span class="i-[tabler--circle-check] size-16 text-success"></span>
    </div>
    <div class="flex justify-center">
      You email <span class="font-bold mx-2"><%= @user.email %></span> has been verified!
    </div>
  <% else %>
    <div class="mb-2 flex justify-center">
      <span class="i-[tabler--alert-circle] size-16 text-error"></span>
    </div>
    <div class="flex justify-center">
      Cannot verify, please re-verify your email in your dashboard.
    </div>
  <% end %>

  <div class="my-6 flex justify-center">
    <%= link_to t('back'), current_user.present? ? dashboard_settings_path : root_path, class: "btn btn-primary w-24" %>
  </div>
</div>

