<%= form_with url: articles_path, 
  method: :get, 
  data: { 
    controller: "search",
    search_target: "form",
    remote: false,
  },
  class: "relative w-full" do |form| %>
  <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3.5">
    <span class="i-[tabler--search] size-4 text-base-content/40"></span>
  </div>
  <%= form.text_field :query, 
    placeholder: t('search'), 
    value: params[:query],
    data: { 
      search_target: "input",
      action: "input->search#submit",
    },
    class: "input w-full rounded-full border-none bg-base-200 px-10 py-2 text-sm focus:ring-1 focus:ring-primary/40" %>
  <%= form.hidden_field :filter, value: :lately %> 
  <%= form.submit 'search', class:"hidden" %>
  <div class="absolute inset-y-0 right-0 flex items-center pr-3">
    <button class="hidden cursor-pointer text-base-content/40 hover:text-base-content" data-search-target="clearButton" data-action="search#clear">
      <span class="i-[tabler--x] size-4"></span>
    </button>
  </div>
  <div id="search_result_list"></div>
<% end %>
