<div data-controller="dropdown-component" class="<%= @class %>">
  <button class="block" data-dropdown-component-target="button">
    <%= button %>
  </button>

  <template data-dropdown-component-target="content">
    <%= content %>
  </template>
</div>
