<div class="py-4">
  <div class="flex justify-center mb-4">
    <%= image_tag "empty.svg", class: "w-40 h-auto" %>
  </div>
  <div class="text-center text-xs opacity-40">
    <%= @text %>
  </div>
</div>
