<div data-controller="qrcode-component" data-qrcode-component-url-value="<%= @url %>">
  <div data-qrcode-component-target="placeholder" class="flex justify-center <%= @image_classes %>"></div>
  <%= content %>
</div>
