<div data-article-form-target="contentFields" class="bg-white dark:bg-zinc-900">
  <%= render EditorComponent.new draft_key: 'quill_article_draft' do %>
    <%= form.file_field :images, 
      multiple: true, 
      direct_upload: true, 
      class: "hidden" %>

    <%= form.text_area :content, 
      placeholder: t("articles.content_place_holder"), 
      data: { 
        article_form_target: "content",
        action: form.object.published? ? '' : "change->article-form#autosave"
      } 
    %>
  <% end %>
  <div class="w-full mb-6" data-article-form-target="editor"></div>
</div>
