<div data-article-form-target="contentFields">
  <%= form.text_area :content, 
    class: "w-full p-0 h-full border-t-0 border-l-0 border-r-0 border-b-0 focus:ring-0", 
    placeholder: t("articles.content_place_holder"), 
    data: { 
      article_form_target: "content"
    } 
  %>
</div>
