<% user ||= current_user %>

<div class="" 
     id="article_<%= article.uuid %>_content"
     data-controller="hljs">
  <% if article.authorized? user %> 
    <%= render partial: "articles/full_content", locals: { article: article, user: user } %>
  <% else %>
    <%= render partial: "articles/partial_content", locals: { article: article, user: user } %>
  <% end %>
</div>
