<div data-article-form-target="contentFields" class="mb-6 block">
  <%= form.rich_text_area :content,
        placeholder: t("articles.content_place_holder"),
        rows: 16,
        data: {
          article_form_target: "content",
          action: form.object.published? ? "" : "lexxy:change->article-form#autosave"
        } %>
</div>
