<div data-controller="hljs"
  class="prose dark:prose-invert prose-img:rounded-lg prose-img:shadow-md prose-pre:bg-base-200 prose-pre:text-base-content xl:prose-lg mx-auto break-words px-6">
  <%= MarkdownRenderService.call(content, type: :full)&.html_safe %>
</div>
