<div data-article-form-target="preview" 
  data-controller="hljs"
  id="article-preview"
  class="hidden px-6 prose dark:prose-invert prose-img:rounded-lg prose-img:shadow-md prose-pre:bg-zinc-100 prose-pre:text-black dark:prose-pre:bg-zinc-800 dark:prose-pre:text-zinc-100 xl:prose-lg mx-auto">
  <%= MarkdownRenderService.new.call(content)&.html_safe %>
</div>
