<div class="mb-16">
  <div class="mb-6">
    <span class="font-bold"><%= t('related_articles') %></span>
  </div>
  <% articles.each do |article| %>
    <%= link_to user_article_path(article.author, article), 
      data: { controller: 'prefetch' }, 
      class: "flex items-center space-x-2 mb-4" do %>
      <%= image_tag article.author.avatar_thumb, class: "w-9 h-9 rounded-full" %>
      <span class="truncate"><%= article.title %></span>
    <% end %>
  <% end %>
</div>
