<div class="bg-white p-4 sm:p-6 sm:border sm:rounded-lg">
  <div class="flex mb-4">
    <span class="px-2 py-1 font-bold"><%= t('related_articles') %></span>
  </div>
  <% articles.each do |article| %>
    <%= link_to article_path(article), class: "flex items-center space-x-2 mb-2" do %>
      <%= image_tag article.author.avatar, class: "w-6 h-6 rounded-full" %>
      <span class="truncate"><%= article.title %></span>
    <% end %>
  <% end %>
</div>
