<div id="<%= dom_id article %>_updated_at" class="flex items-center gap-2">
  <div class="flex items-center gap-1 text-xs text-base-content/60">
    <span>
      <%= t('last_saved') %>:
    </span>
    <%= render_time_format datetime: article.updated_at.rfc3339, format: 'time' do %>
      <%= article.updated_at.strftime("%H:%M") %>
    <% end %>
  </div>
  <div data-controller="auto-hide">
    <span class="i-[tabler--circle-check-filled] size-4 text-success"></span>
  </div>
</div>
