<div class="lg:grid lg:grid-cols-3 lg:gap-x-6">
  <div class="w-full lg:col-span-2">
    <%= render partial: "articles/article_card", collection: @articles, as: :article %>
  </div>
  <aside class="lg:col-span-1">
    <div class="p-4 lg:p-6 bg-white lg:rounded">
      Trending
    </div>
  </aside>
</div>
