<%= form_for [:dashboard, current_user.access_tokens.new] do |form| %>
  <div class="flex justify-center">
    <%= form.text_field :memo, placeholder: t('token_memo_placeholder'), class: "input input-bordered w-full mb-4" %>
  </div>
  <div class="flex justify-center">
    <%= form.submit t('submit'), class: "btn btn-primary" %>
  </div>
<% end %>
