<div class="max-w-full mx-auto px-4">
  <%= render "pre_orders/state", pre_order: @pre_order %>

  <%= link_to t('back'), 
    user_article_path(@pre_order.item.author, @pre_order.item), 
    class: "btn btn-primary btn-lg rounded-full w-96 max-w-full mt-8 mx-auto" %>
</div>
