<div class="dropdown relative inline-flex <%= local_assigns[:class] %>" data-controller="flyonui-dropdown">
  <button type="button" class="dropdown-toggle block" aria-haspopup="menu" aria-expanded="false">
    <%= button %>
  </button>

  <div class="dropdown-menu dropdown-open:opacity-100 hidden min-w-48" role="menu">
    <%= menu %>
  </div>
</div>
