<div class="py-4 text-base-content">
  <div class="flex justify-center mb-4">
    <%= image_tag "empty.svg", class: "w-40 h-auto opacity-60" %>
  </div>
  <div class="text-center text-xs text-base-content/40">
    <%= text %>
  </div>
</div>
