<div class="py-12 text-base-content">
  <div class="mb-4 flex justify-center">
    <%= image_tag "empty.svg", class: "h-auto w-32 opacity-50" %>
  </div>
  <div class="text-center text-sm text-base-content/60">
    <%= text %>
  </div>
</div>
