<div class="flex items-center justify-between text-xs text-base-content/60">
  <%= link_to t('rules'), rules_page_path, class: "link link-hover" %>
  <%= link_to t('fair'), fair_page_path, class: "link link-hover" %>
  <%= link_to t('help'), '/docs', target: '_blank', class: "link link-hover" %>
  <%= link_to 'Github', 'https://github.com/baizhiheizi/quill', target: '_blank', class: "link link-hover" %>
</div>
