<div class="flex items-center space-x-6 text-[#222222]/60 text-xs">
  <%= link_to t('rules'), rules_page_path %>
  <%= link_to t('fair'), fair_page_path %>
  <%= link_to t('twitter'), 'https://twitter.com/with_quill', target: '_blank' %>
  <%= link_to t('help'), '/docs', target: '_blank' %>
</div>
