<div class="bg-white p-4 sm:p-6 sm:border sm:rounded-lg">
  <div class="flex mb-4">
    <span class="font-bold"><%= t('hot_tags') %></span>
  </div>
  <% Tag.hot.limit(10).each do |tag| %>
    <div class="flex items-center justify-between mb-2">
      <%= link_to articles_path(tag: tag.name, order_by: @order_by || 'lately'), class: "flex items-center space-x-2" do %>
        <span class="px-2 py-1 bg-gray-100 font-bold truncate">#<%= tag.name %></span>
      <% end %>
      <div class="text-sm">
        <%= render "subscribe_tags/subscribe_button", tag: tag %>
      </div>
    </div>
  <% end %>
</div>
