<%= link_to deposit_dashboard_destination_path, 
  data: { turbo_frame: :modal },
  class: "flex justify-center space-x-4 items-center max-w-full mt-4 mb-2 text-center no-underline cursor-pointer px-4 py-2 block bg-violet-500 hover:bg-violet-600 active:bg-violet-600 text-white rounded-full" do %>
  <div class="w-8 h-8">
    <%= image_tag 'https://mvm.dev/logo.svg', class: 'w-full h-auto' %>
  </div>
  <div class='text-lg'><%= t('deposit') %></div>
<% end %>
