<%= button_to view_modals_path(type: :mvm_deposit), 
  class: "flex justify-center space-x-4 items-center w-96 max-w-full min-w-96 mt-4 mb-2 text-center no-underline cursor-pointer px-4 py-2 block bg-violet-500 hover:bg-violet-600 active:bg-violet-600 text-white rounded-full" do %>
  <div class="w-8 h-8">
    <%= image_tag 'https://mvm.dev/logo.svg', class: 'w-full h-auto' %>
  </div>
  <div class='text-lg'><%= t('deposit') %></div>
<% end %>
