<div
  data-controller="notification"
  data-notification-delay-value="3000"
  data-transition-enter-from="opacity-0 translate-y-6"
  data-transition-enter-to="opacity-100 translate-y-0"
  data-transition-leave-from="opacity-100 translate-y-0"
  data-transition-leave-to="opacity-0 -translate-y-6"
  class="transition relative hidden transform duration-1000 bg-white shadow flex space-x-4 mx-auto items-start border rounded px-4 py-2 z-50 max-w-xl bg-opacity-90 mb-4"
>
  <% if type == 'success' %>
    <div>
      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-green-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
      </svg>
    </div>
  <% elsif type == 'error' %>
    <div>
      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-red-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
      </svg>
    </div>
  <% else %>
    <div>
      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-blue-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
      </svg>
    </div>
  <% end %>
  <div class="line-clamp-3"><%= message %></div>
</div>
