<%= turbo_frame_tag 'modal' do %>
  <%= render_modal title: t('hide_collection') do %>
    <div class="mb-8">
      <%= t('hide_collection_tips') %>
    </div>
    <div class="flex justify-center">
      <%= button_to t('hide_collection'), 
        dashboard_hidden_collection_path(@collection), 
        method: :put,
        class: "btn btn-primary rounded-full" %>
    </div>
  <% end %>
<% end %>
