<div class="mb-16">
  <div class="mb-6">
    <span
      style="word-break:keep-all"
      class="text-lg h-8 my-2 mr-4 px-2 py-1 max-w-[6rem] truncate rounded tag-style-<%= tag.id % 6 %>">
      <%= tag.name %>
    </span>
  </div>
  <div class='mb-2'>
    <%= render "subscribe_tags/subscribe_button", tag: tag, style: 'block' %>
  </div>
  <%= render "subscribe_tags/subscribe_detail", tag: tag %>
</div>
