<div class="bg-white dark:bg-zinc-900 p-4 sm:p-6 sm:rounded-lg">
  <div class="flex mb-4">
    <span class="px-2 py-1 bg-zinc-100 dark:bg-zinc-800 font-bold text-lg">#<%= tag.name %></span>
  </div>
  <%= render "subscribe_tags/subscribe_button", tag: tag %>
  <%= render "subscribe_tags/subscribe_detail", tag: tag %>
</div>
