<div class="mb-10">
  <div class="tooltip mb-6 truncate [--placement:top]" data-tip="<%= tag.name %>">
    <span class="tag-chip inline-flex max-w-[10rem] truncate px-3 py-1.5 text-base font-medium">
      <%= tag.name %>
    </span>
  </div>
  <div class='mb-2'>
    <%= render "subscribe_tags/subscribe_button", tag: tag, style: 'block' %>
  </div>
  <%= render "subscribe_tags/subscribe_detail", tag: tag %>
</div>
