<div id="<%= dom_id article %>_subscribe_button" >
  <% if current_user.blank? %>
    <%= link_to t('subscribe'), view_modals_path(type: :login), data: { turbo_method: :post }, class: "block bg-blue-600 rounded text-white text-center py-1" %>
  <% elsif current_user.commenting_subscribe_article? article %>
    <div class="w-full bg-white text-red-500 text-center py-1">
    <%= link_to t('unsubscribe'), subscribe_article_path(article.uuid), data: { turbo_method: :delete, turbo_confirm: t("confirm_to_unsubscribe") }, class: "text-red-500" %>
    </div>
  <% else %>
    <%= button_to t('subscribe'), subscribe_articles_path(uuid: article.uuid), class: "block w-full cursor-pointer bg-blue-500 hover:bg-blue-600 rounded text-white text-center py-1 px-4" %>
  <% end %>
</div>
