<%= turbo_frame_tag 'modal' do %>
  <%= render ModalComponent.new title: t('unsubscribe') do %>
    <div class="max-w-full mx-auto">
      <div class="mb-6">
        <%= t('confirm_to_unsubscribe') %>
      </div>
      <%= button_to t('unsubscribe'), 
        subscribe_article_path(@article.uuid), 
        method: :delete,
        class: "block w-full rounded-lg text-white bg-red-500 py-2 text-lg"
      %>
    </div>
  <% end %>
<% end %>
