<div id="<%= dom_id user %>_subscribe_button" >
  <% if current_user.blank? %>
    <%= link_to t('subscribe'), 
      login_path(return_to: user_url(user)), 
      data: { 
        turbo_frame: :modal 
      }, class: "block w-full cursor-pointer bg-primary hover:scale-105 rounded text-white text-center py-1 px-4" %>
  <% elsif current_user == user %>
    <span></span>
  <% elsif current_user.subscribe_user? user %>
    <div class="w-full text-center py-1">
      <%= link_to t('unsubscribe'), 
        new_subscribe_user_path(uid: user.uid), 
        data: { 
          turbo_frame: :modal,
        }, 
        class: "cursor-pointer bg-transparent opacity-70" %>
    </div>
  <% else current_user.subscribe_user? user%>
    <%= button_to t('subscribe'), subscribe_users_path(uid: user.uid), class: "block w-full cursor-pointer bg-primary hover:scale-105 rounded-full text-white text-center py-1 px-4" %>
  <% end %>
</div>
