<div id="<%= dom_id user %>_subscribe_button" >
  <% if current_user.blank? %>
    <%= link_to t('subscribe'), view_modals_path(type: :login), data: { turbo_method: :post }, class: "block bg-blue-600 rounded text-white text-center py-2" %>
  <% elsif current_user == user %>
  <% elsif current_user.subscribe_user? user %>
    <div class="w-full bg-white text-red-500 text-center py-2">
    <%= link_to t('unsubscribe'), subscribe_user_path(user.uid), data: { turbo_method: :delete, turbo_confirm: t("confirm_to_unsubscribe") }, class: "text-red-500" %>
    </div>
  <% else current_user.subscribe_user? user%>
    <%= button_to t('subscribe'), subscribe_users_path(uid: user.uid), class: "block w-full cursor-pointer bg-blue-500 hover:bg-blue-600 rounded text-white text-center py-2 px-4" %>
  <% end %>
</div>
