<%= turbo_frame_tag "transfers" do %>
  <div data-controller="infinite-scroll">
    <div id="transfers_list">
      <% if @transfers.blank? %>
        <div class="text-center py-2 opacity-50">
          <%= t("no_record") %>
        </div>
      <% else %>
        <%= render partial: "transfers/transfer", collection: @transfers, as: :transfer %>
      <% end %>
    </div>
    <div data-infinite-scroll-target='scrollArea'></div>

    <%= render partial: "shared/pagination", locals: { pagy: @pagy } %>
  </div>
<% end %>

