@import 'highlight.js/styles/github';
@import 'photoswipe';
@import 'tom-select/dist/css/tom-select';
@import 'easymde/dist/easymde.min';
@import 'easymde-custom';

@tailwind base;
@tailwind components;
@tailwind utilities;

.ProseMirror p.is-editor-empty:first-child:before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

pre code.hljs {
  padding: 0;
}
