.CodeMirror {
  background: inherit !important;
  color: inherit !important;
}

.dark .CodeMirror-cursor {
  border-color: #fafafa !important;
}

.CodeMirror-selected {
  color: black !important;
}

.CodeMirror-focused .CodeMirror-selected {
  color: black !important;
}

span.CodeMirror-selectedtext {
  color: black !important;
}

.EasyMDEContainer {
  background: inherit !important;
}

.EasyMDEContainer .CodeMirror-focused .CodeMirror-selected {
  color: black !important;
}

.editor-toolbar {
  z-index: 10 !important;
  background: inherit !important;
  border: inherit !important;
}

.EasyMDEContainer .CodeMirror {
  border: inherit !important;
}
