<%= turbo_frame_tag 'modal' do %>
  <%= render ModalComponent.new title: t('read_all') do %>
    <div class="max-w-full mx-auto">
      <div class="mb-6">
        <%= t('confirm_to_submit') %>
      </div>
      <%= button_to t('read_all'), 
        dashboard_read_notifications_path, 
        class: "block w-full rounded-lg text-white bg-red-500 py-2 text-lg"
      %>
    </div>
  <% end %>
<% end %>
