<%= turbo_frame_tag 'modal' do %>
  <%= render_modal title: t('delete_article') do %>
    <div class="max-w-full mx-auto">
      <div class="mb-6">
        <%= t('confirm_to_delete') %>
      </div>
      <%= button_to t('delete'), 
        dashboard_deleted_article_path(@article), 
        method: :put,
        class: "btn btn-error btn-block text-lg"
      %>
    </div>
  <% end %>
<% end %>
