<% tab ||= 'articles' %>

<%= link_to admin_user_path(user, tab: tab), 
  class: "flex items-center space-x-2", 
  data: { turbo_frame: "_top" } do %>
  <%= image_tag user.avatar_thumb, class: 'w-10 h-10 rounded-full', loading: 'lazy' %>
  <div>
    <div><%= user.short_name %></div>
    <div class="text-sm opacity-70">@<%= user.short_uid %></div>
  </div>
<% end %>
