<div class="hidden sm:block text-xl font-bold mb-8">
  <%= t('edit_collection') %>
</div>

<% content_for :topbar do %>
  <div class="flex items-center px-4 h-12">
    <%= link_to :back, class: "pr-2" do %>
      <span class="i-[tabler--chevron-left] size-5 font-bold"></span>
    <% end %>
    <span class="font-bold text-lg">
      <%= t('new_collection') %>
    </span>
  </div>
<% end %>

<%= render "collections/form", collection: @collection %>
