<div data-controller="infinite-scroll">
  <% if @articles.blank? %>
    <%= render EmptyComponent.new text: t('no_record') %>
  <% else %>
    <div id="articles_list">
      <%= render Articles::CardComponent.with_collection(@articles) %>
    </div>
    <div data-infinite-scroll-target='scrollArea'></div>

    <%= render "shared/pagination", pagy: @pagy, id: @pagy_id %>
  <% end %>
</div>
